.women-chapter {
  width: 100%;
  height: 960px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.carousel {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border: none;
}

.carousel-control-next-icon {
  background-image: url('../../content/general/arrow-right-s-line.png');
}

.carousel-control-prev-icon {
  background-image: url('../../content/general/arrow-left-s-line.png');
}

/* Photo-card/Left side */
.photos {
  height: 800px;
  position: relative;
  display: inline-block;
}

.photos .photo {
  height: 800px;
}

.photos .photo-hover {
  height: 800px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  cursor: pointer;
}

.photos:hover .photo-hover {
  height: 800px;
  display: inline;
  cursor: pointer;
}

.carousel-control-next-icon .changed {
  color: #000000;
}

.carousel-control-prev-icon .changed {
  color: #000000;
}

/* Description-card/Right side */
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-family: "Poppins", sans-serif;
  font-size: x-large;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
}

.desc {
  font-family: "Poppins", sans-serif;
  font-size: larger;
  font-weight: 400;
  padding: 20px 30px;
}

ul {
  text-align: center;
  margin-top: 7px;
  margin-bottom: 7px;
}

.size-head {
  font-family: "Poppins", sans-serif;
  font-size: x-large;
  font-weight: 500;
  cursor: pointer;
}

.size {
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-size: larger;
  font-weight: 400;
  cursor: pointer;
}

.price {
  font-family: "Poppins", sans-serif;
  font-size: x-large;
  font-weight: 500;
  cursor: pointer;
  margin-top: 7px;
  margin-bottom: 7px;
}

.buy {
  margin-top: 7px;
  width: 170px;
  height: 40px;
  background: #ffffff;
  color: var(--blue);
  border: 2px solid var(--blue);
  border-radius: 5px;
  text-transform: uppercase;
}

.buy:focus {
  background: var(--blue);
  color: #ffffff;
}