@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --lightbeige: #E3DED3;
  --black: #000000;
  --gray: #404040;
  --red: #A00000;
  --font: 'Poppins', sans-serif;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: var(--lightbeige);
  display: flex;
  flex-direction: column;
}